.note-card {
  border-radius: 5px;
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
  padding: 10px 20px;
  margin: 30px 15px;
  position: relative;
}

.note-card-input {
  position: relative;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(0.5rem * 1.5) 0.5rem;
  color: currentColor;
  background: transparent;
  border-radius: 5px;
  transition: all .4s;
}

.input__field:disabled {
  border-color: red;
  /* border-color: transparent; */
  color: red;
  opacity: .4;
}

.input__field:focus+.note-card-input__label,
.input__field:not(:placeholder-shown)+.note-card-input__label {
  transform: translate(0.25rem, -75%) scale(0.9);
  /* color: #206bd5; */
}

.note-card-input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(0.5rem * 0.75) calc(0.5rem * .5);
  margin: calc(0.5rem * 0.75 + 3px) calc(0.5rem * .5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: white;
  transition: transform 120ms ease-in;
  font-weight: 600;
  line-height: 1.2;
}

.note-card-buttons {
  margin-top: calc(0.5rem * 2.5);
}

.note-card-buttons__comment {
  color: currentColor;
  padding: 0.5rem calc(0.5rem * 2);
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: 900;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s;
}

.note-card-buttons__comment:hover {
  border-color: black;
  background-color: white;
  color: black;
}

.note-card-buttons__comment:disabled {
  opacity: .5;
  cursor: no-drop;
}

.note-card-buttons__comment+.note-card-buttons__comment {
  margin-left: calc(0.5rem * 2);
}