/* Estas son mis imagenes */
.note-card { 
  border-radius: 5px;
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
  padding: 10px 20px;
  margin: 30px 15px;
  position: relative;

  view-timeline-name: --noteCard;
  view-timeline-axis: block;
  animation-timeline: --noteCard;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 140px;
  height: 100%;
  justify-content: space-around;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(0.5rem * 1.5) 0.5rem;
  color: currentColor;
  background: transparent;
  border-radius: 5px;
  transition: all .4s;
}

.input__field:disabled {
  border-color: red;
  /* border-color: transparent; */
  color: red;
  opacity: .4;
}

.input__field:focus+.note-card-input__label,
.input__field:not(:placeholder-shown)+.note-card-input__label {
  transform: translate(0.25rem, -75%) scale(0.9);
  /* color: #206bd5; */
}

.note-card-buttons {
  margin-top: calc(0.5rem * 2.5);
}

.note-card-buttons__comment {
  color: currentColor;
  padding: 0.5rem calc(0.5rem * 2);
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: 900;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s;
}

.note-card-buttons__comment:hover {
  border-color: black;
  background-color: white;
  color: black;
}

.note-card-buttons__comment:disabled {
  opacity: .5;
  cursor: no-drop;
}

.note-card-buttons__comment+.note-card-buttons__comment {
  margin-left: calc(0.5rem * 2);
}

.note-card-text {
  margin: 0px;
  line-height: 1.3;
}

.note-card-text .note-card-text__link {
  border-bottom: 0.05em solid;
  border-color: rgba(255, 255, 255, 0.283);
  opacity: 0.8;
  cursor: pointer;
  color: #168ae6;
  word-wrap: break-word;
}

.note-card-text__link span {
  border-bottom: 0.05em solid;
  border-color: rgba(255, 255, 255, 0.283);
}

.note-card__span {
  position: absolute;
  right: 10px;
  top: -25px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #E91E63;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  } 

  to {
    opacity: 1;
    scale: 100%;
  }
}